{% extends 'base.html.twig' %}

 {% block titlepage  %} 
                              <p class="mb-0">Liste des agents</p> 
   {% endblock  %}


     {% block breadcrumb  %}
         <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="javascript:void(0)">Parametre</a></li>
         <li class="breadcrumb-item active"><a href="javascript:void(0)">Agent</a></li>
         </ol>
     {% endblock  %}

{% block body %}
    <a href="{{ path('app_agent_new') }}">      
 <button type="button" class="btn btn-rounded btn-info"><span
   class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
     </span>Ajouter</button>
        </a>
      <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des agents</h4>
                            </div>
      <div>
     
    </div>
 <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered verticle-middle table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateEntree</th>
                <th>Departement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.dateEntree ? agent.dateEntree|date('d-m-Y') : '' }}</td>
                 <td>{{ agent.departem.libelleDepartement }}</td>
                <td>
                     <a href="{{ path('app_agent_show', { 'id': agent.id })}}"  class="mr-2" data-toggle="tooltip"
                                                            data-placement="top" title="Apercu"><i
                                                                class="fa fa-eye color-danger"></i></a>||


 <a href=""{{ path('app_agent_edit', { 'id': agent.id })}}"" class="mr-2" data-toggle="tooltip"
                                                            data-placement="top" title="Modifier"><i
                                                                class="fa fa-pencil" aria-hidden="true"></i></a>||


 <a href="{{ path('app_agent_show', { 'id': agent.id })}}" class="mr-2" data-toggle="tooltip"
                                                            data-placement="top" title="Supprimer"><i
                                                                class="fa fa-close color-danger"></i></a>
                </td>
           </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

   </div>
{% endblock %}
