{% extends 'base.html.twig' %}

{% block titlepage  %} 
                              <p class="mb-0">Detail departement</p> 
                              {% endblock  %}


                              {% block breadcrumb  %}
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Parametre</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Departement</a></li>
                                    </ol>
                              {% endblock  %}

{% block body %}
 
 <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Infos</h4>
                            </div>
      <div class="card-body">
     <div class="table-responsive">
    <table class="table table-bordered table-striped verticle-middle table-responsive-sm">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ departement.codeDepartement }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ departement.libelleDepartement }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>

<button class="btn btn-secondary"><span class="mr-3"><i
       class="fa fa-bars"></i></span><a href="{{ path('app_departement_index') }}">
   Liste</a></button></button>

<button class="btn btn-primary mr-3"><span class="mr-3"><i
    class="fa fa-pencil"></i></span> <a href="{{ path('app_departement_edit', {'id': departement.id}) }}">Modifier</a></button>
   
 

    {{ include('departement/_delete_form.html.twig') }}
{% endblock %}
